@{
    ViewBag.Title = "TestCSS";
}

<h2>TestCSS</h2>
<div class="roundedfour_mobile">
    <input data-val="true" data-val-required="The BLOCKRENEWAL field is required." id="BLOCKRENEWAL" name="BLOCKRENEWAL" type="checkbox" checked="checked">
    <input name="BLOCKRENEWAL" type="hidden" value="false">
    <label for="roundedfour_mobile">AAA</label>
    <div id="div1">ABAB</div>
   @* @Html.CheckBox("Test")
    <label for="roundedfour_mobile2"></label>*@
</div>

<p id="ExampleID1">This paragraph has an ID name of
 "exampleID1" and has a white CSS defined background</p>

<p id="ExampleID2">This paragraph has an ID name of
 "exampleID2" and has had its text transformed to uppercase letters. </p>
