<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TestKnockoutMVCEntities" connectionString="metadata=res://*/BookData.csdl|res://*/BookData.ssdl|res://*/BookData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EZESTL-462;initial catalog=TestKnockoutMVC;user id=sa;password=sa@12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--<system.serviceModel>
    
        <bindings>
            <basicHttpBinding>
                <binding name="LargeSettings" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
                    <security mode="None"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="TransferServiceBehavior" name="TestService.Service1">
                <endpoint address="http://localhost:53215/IBookService.svc" binding="basicHttpBinding" bindingConfiguration="LargeSettings" contract="TestService.IService1"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="TransferServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceThrottling maxConcurrentCalls="500" maxConcurrentSessions="500" maxConcurrentInstances="500"/>
                </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>-->
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="restPoxBehavior" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TestService.Service1"  behaviorConfiguration="ServBehave">
        --><!--Endpoint for REST--><!--
        <endpoint
          address="http://localhost:54883/Service1.svc"
           binding="webHttpBinding"
           behaviorConfiguration="restPoxBehavior"
           contract="TestService.IService1"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        --><!--Behavior for the REST endpoint for Help enability--><!--
        <behavior name="restPoxBehavior">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false"/>
  </system.serviceModel>-->

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="VirtueBasicHttpBinding" maxReceivedMessageSize="2147483646" maxBufferPoolSize="2147483646">
          <readerQuotas maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxDepth="128" maxStringContentLength="2147483646" maxNameTableCharCount="2147483646" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="VirtueService.Behavior" name="TestService.Service1">
        <endpoint address="http://localhost:54883/Service1.svc" binding="basicHttpBinding" contract="TestService.IService1" bindingConfiguration="VirtueBasicHttpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:54883/Service1.svc" />
          </baseAddresses>
        </host>
      </service>
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VirtueService.Behavior">
          <!--<enableWebScript/>-->
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="1024" />
        </behavior>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <!--Behavior for the REST endpoint for Help enability-->
        <behavior name="VirtueBasicHttpBinding">
          <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="false" />
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
